//Fonts custom
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300&family=Roboto&display=swap');
$font-stack: 'Literata', serif;
$font-stack--regular: 'Roboto', sans-serif;


//Couleurs custom
$primary: #FFFEFE;
$secondary: #1B1B1B;
$info: #D0AF9A;
$dark: #696969;
$light: #ADADAD;